/*
 *
 * MMM-printerMonitor
 *
 * Victor Piella
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */
 @import url("https://cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css");
 .MMM-printerMonitor {
  display: flex;
}

.MMM-printerMonitor .images {
  position: relative;
  width: 50%;
}

.MMM-printerMonitor .images img {
  width: 100%;
}

.MMM-printerMonitor .thumbnail {
  width: 150px;
  position: absolute;
  top: -20px;
  left: -20px;
}

.MMM-printerMonitor .thumbnail img {
  border: none;
}

.MMM-printerMonitor .info {
  width: 50%;
  padding: 10px;
  text-align: center;
}

.MMM-printerMonitor .offline {
  display: none;
}

.MMM-printerMonitor video,
.MMM-printerMonitor img {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.MMM-printerMonitor #progress {
  font-size: xxx-large;
}

.MMM-printerMonitor #temp {
  display: flex;
  border-top: 1px solid #ccc;
  margin-top: 10px;
  font-size: x-large;
  text-align: center;
}

.MMM-printerMonitor #bed {
  border-right: 1px solid #ccc;
}

.MMM-printerMonitor #temp #bed,
.MMM-printerMonitor #temp #tool {
  flex: 1;
  margin-top: 10px;
}
